<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption font-white">
                    <i class="fa fa-edit"></i>
                    <span class="caption-subject">Form Input</span>
                </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="tab-content">
                    <form id="formSmartSiro" class="form-horizontal" role="form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">MLA Number</label>
                                        <div class="col-md-6">
                                            <input type="text" id="MLANumberSmartSiro" class="form-control" />
                                            <input type="hidden" id="IDTrxSmartSiro" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">MLA Date</label>
                                        <div class="col-md-6">
                                            <input type="text" id="MLAdateSmartSiro" class="form-control datepicker" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">BAPS Number</label>
                                        <div class="col-md-6">
                                            <input type="text" id="BapsNumberSmartSiro" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">BAPS Date</label>
                                        <div class="col-md-6">
                                            <input type="text" id="BapsDateSmartSiro" class="form-control datepicker" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Site Name</label>
                                        <div class="col-md-6">
                                            <input type="text" id="SiteNameSmartSiro" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Lease Price</label>
                                        <div class="col-md-6">
                                            <input type="text" id="LeasePriceSmartSiro" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Additional Price</label>
                                        <div class="col-md-6">
                                            <input type="text" id="AddPriceSmartSiro" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Start Lease Date</label>
                                        <div class="col-md-6">
                                            <input type="text" id="StartLeaseDateSmartSiro" class="form-control datepicker" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">End Lease Date</label>
                                        <div class="col-md-6">
                                            <input type="text" id="EndLeaseDateSmartSiro" class="form-control datepicker" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption font-white">
                    <i class="fa fa-user"></i>
                    <span class="caption-subject">Approval</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="tab-content">
                    <form id="formApprXLNew" class="form-horizontal" role="form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-6 font-blue">
                                            <span class="caption-subject">## Approval Company ##</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Approval Name </label>
                                        <div class="col-md-6">
                                            <select id="slApprCompanySmartSiro" class="form-control select2"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-6 font-blue">
                                            <span class="caption-subject">## Approval Customer ##</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Approval Name</label>
                                        <div class="col-md-6">
                                            <select id="slApprCustomerSmartSiro" class="form-control select2 "></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-actions text-center">
            <button type="button" data-dismiss="modal" id="btnSmartSiroSubmit" class="btn blue NeedRounding btnSubmitTrx">
                <i class="fa fa-save"></i> Submit
            </button>
            <button type="button" data-dismiss="modal" id="btnSmartSiroCancel" class="btn blue-oleo">
                <i class="fa fa-chevron-left"></i> Cancel
            </button>
        </div>
    </div>
</div>
