<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption font-white">
                    <i class="fa fa-filter"></i>
                    <span class="caption-subject">Filter</span>
                </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form id="formSearch" class="form-horizontal" role="form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Company Invoice</label>
                                    <div class="col-md-8">
                                        <select id="slSearchCompanyNameBulky" class="form-control select2"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Customer</label>
                                    <div class="col-md-8">
                                        <select id="slSearchCustomerNameBulky" class="form-control select2"></select>
                                    </div>
                                </div>                 
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Category</label>
                                    <div class="col-md-8">
                                        <select id="slSearchStipCategoryBulky" class="form-control select2"></select>
                                    </div>
                                </div>                               
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">SO Number</label>
                                    <div class="col-md-8">
                                        <input class="form-control select2" id="SearchSoNumberBulky" />
                                        @*<select id="SearchSoNumberBulky" class="form-control select2"></select>*@
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Site ID</label>
                                    <div class="col-md-8">
                                        <input class="form-control select2" id="SearchSiteIDBulky" />
                                        @*<select id="SearchSiteIDBulky" class="form-control select2"></select>*@
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Product Type</label>
                                    <div class="col-md-8">
                                        <select id="slSearchProductIDBulky" class="form-control select2"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">STIP</label>
                                    <div class="col-md-8">
                                        <select id="slStipCategoryBulky" class="form-control select2"></select>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <div class="form-actions text-center">
                        <button type="button" id="btSearchBulky" class="btn blue mt-ladda-btn ladda-button NeedRounding" data-style="zoom-in">
                            <i class="fa fa-search"></i> Search
                        </button>
                        <button type="button" id="btResetBulky" class="btn blue-oleo">
                            <i class="fa fa-refresh"></i> Reset
                        </button>
                        <button type="button" id="btCancelBulky" class="btn yellow">
                            <i class="fa fa-backward"></i> Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" id="PartialiSatBulky">
    <div class="col-md-12">
        @Html.Partial("_PartialiSatBulkyForm")
    </div>

</div>

<div class="row" id="PartialXLAddBulky">
    <div class="col-md-12">
        @Html.Partial("_PartialXLAddForm")
    </div>
</div>

<div class="row" id="PartialXLBulky">
    <div class="col-md-12">
        @Html.Partial("_PartialXLBulkyForm")
    </div>
</div>
