@*Filter*@
<div class="row portlet light bordered dualApproval">
    <div class="portlet-title">
        <div class="caption font-blue-steel">
            <i class="glyphicon glyphicon-user"></i>
            <span class="caption-subject">Approval Form</span>
        </div>
    </div>
    <div class="col-md-6">


        <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-6 font-blue">
                <span class="caption-subject">## Approval Company ##</span>
            </div>

        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Approval Name </label>
            <div class="col-md-6">
                <select id="slApprCompany" class="form-control select2 slApprCompany"></select>
            </div>

        </div>

    </div>

    <div class="col-md-6">

        <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-6 font-blue">
                <span class="caption-subject">## Approval Customer ##</span>
            </div>

        </div>


        <div class="form-group">
            <label class="col-md-3 control-label">Approval Name </label>
            <div class="col-md-6">
                <select id="slApprCustomer" class="form-control select2 slApprCustomer"></select>
            </div>

        </div>
      
    </div>
</div>

            
