<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption font-white">
                    <i class="fa fa-edit"></i>
                    <span class="caption-subject">Form Input</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="tab-content">
                    <form id="formSFNew" class="form-horizontal" role="form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Start Lease Date</label>
                                        <div class="col-md-5">
                                            <input type="text" id="StartLeaseDateSFNew" class="form-control datepicker" readonly />
                                            <input type="hidden" id="IDTrxSFNew" />
                                            <input type="hidden" id="SoNumberSFNew" />
                                            <input type="hidden" id="SFNewpSFNew" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">RFE Date</label>
                                        <div class="col-md-5">
                                            <input type="text" id="RFEDateSFNew" class="form-control datepicker" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Lease Price</label>
                                        <div class="col-md-5">
                                            <input type="text" id="LeasePriceSFNew" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Later Of Interest Number</label>
                                        <div class="col-md-5">
                                            <input type="text" id="LaterInterestNumbSFNew" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">BAPS Number</label>
                                        <div class="col-md-5">
                                            <input type="text" id="BapsNumberSFNew" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status Kepemilikan Tanah</label>
                                        <div class="col-md-5">
                                            <select id="slLandStatusSFNew" class="form-control select2">
                                                <option value="Sewa">Sewa</option>
                                                <option value="Milik">Milik</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">End Lease Date</label>
                                        <div class="col-md-5">
                                            <input type="text" id="EndLeaseDateSFNew" class="form-control datepicker" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Land Size</label>
                                        <div class="col-md-5">
                                            <input type="text" id="LandSizeSFNew" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Later Of Interest Date</label>
                                        <div class="col-md-5">
                                            <input type="text" id="LaterInterestDateSFNew" class="form-control datepicker" readonly/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">MLA Date</label>
                                        <div class="col-md-5">
                                            <input type="text" id="MLADateSFNew" class="form-control datepicker" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Site Type</label>
                                        <div class="col-md-5">
                                            <input type="text" id="SiteTypeSFNew" class="form-control" placeholder="Site Type" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tower Type</label>
                                        <div class="col-md-5">
                                            <select id="slTowerTypeSFNew" class="form-control select2">
                                                <option value="Macro">Macro</option>
                                                <option value="MCP">MCP</option>
                                                <option value="Micro">Micro</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Initial Tower Type</label>
                                        <div class="col-md-5">
                                            <input type="text" id="TowerTypeSFNew" class="form-control" placeholder="Initial Tower Type" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Service Type</label>
                                        <div class="col-md-5">
                                            <input type="text" id="ServiceTypeSFNew" class="form-control" placeholder="Service Type" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption font-white">
                    <i class="fa fa-user"></i>
                    <span class="caption-subject">Approval</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="tab-content">
                    <form id="formApprSFNew" class="form-horizontal" role="form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-6 font-blue">
                                            <span class="caption-subject">## Approval Company ##</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Approval Name </label>
                                        <div class="col-md-6">
                                            <select id="slApprCompanySFNew" class="form-control select2"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-6 font-blue">
                                            <span class="caption-subject">## Approval Customer ##</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Approval Name</label>
                                        <div class="col-md-6">
                                            <select id="slApprCustomerSFNew" class="form-control select2 "></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-actions text-center">
            <button type="button" data-dismiss="modal" id="btnSFNewSave" class="btn blue NeedRounding btnSubmitTrx">
                <i class="fa fa-save"></i> Save
            </button>
            <button type="button" data-dismiss="modal" id="btnSFNewCancel" class="btn blue-oleo">
                <i class="fa fa-chevron-left"></i> Cancel
            </button>
        </div>
    </div>
</div>


