<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption font-white">
                    <i class="fa fa-edit"></i>
                    <span class="caption-subject">Form Input</span>
                </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="tab-content">
                    <form id="formXLSiro" class="form-horizontal" role="form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">SPPS Date</label>
                                        <div class="col-md-6">
                                            <input type="text" id="SppsdateXLSiro" class="form-control datepicker" readonly />
                                            <input type="hidden" id="IDTrxXLSiro" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Start Lease Date</label>
                                        <div class="col-md-6">
                                            <input type="text" id="StartLeaseDateXLSiro" class="form-control datepicker" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">End Lease Date</label>
                                        <div class="col-md-6">
                                            <input type="text" id="EndLeaseDateXLSiro" class="form-control datepicker" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Base Lease Price</label>
                                        <div class="col-md-6">
                                            <input type="text" id="BaseLeasePriceXLSiro" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Additional Price</label>
                                        <div class="col-md-6">
                                            <input type="text" id="AddPriceXLSiro" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Lease Price Per Month</label>
                                        <div class="col-md-6">
                                            <input type="text" id="LeasePricePerMonthXLSiro" class="form-control" />
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption font-white">
                    <i class="fa fa-user"></i>
                    <span class="caption-subject">Approval</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="tab-content">
                    <form id="formXLSiro" class="form-horizontal" role="form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-6 font-blue">
                                            <span class="caption-subject">## Approval Company ##</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Approval Name </label>
                                        <div class="col-md-6">
                                            <select id="slApprCompanyXLSiro" class="form-control select2"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-6 font-blue">
                                            <span class="caption-subject">## Approval Customer ##</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Approval Name 1 </label>
                                        <div class="col-md-6">
                                            <select id="slApprCustomerXLSiro" class="form-control select2 "></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Approval Name 2 </label>
                                        <div class="col-md-6">
                                            <select id="slApprCustomerXLSiro2" class="form-control select2 "></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="form-actions text-center">
            <button type="button" data-dismiss="modal" id="btnXLSiroSubmit" class="btn blue NeedRounding">
                <i class="fa fa-save"></i> Submit
            </button>
            <button type="button" data-dismiss="modal" id="btnXLSiroCancel" class="btn blue-oleo">
                <i class="fa fa-chevron-left"></i> Cancel
            </button>
        </div>
    </div>
</div>

