<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <add name="TBIGSYSDB01_TBGSecureAccess" providerName="System.Data.SqlClient"
      connectionString="Data Source=10.8.0.39\SQL2016;Initial Catalog=TBGSecureAccess;User ID=mgrdev;Password=dev12345;"/>
    <add name="TBIGSYSDB01_TBGWorkflow" providerName="System.Data.SqlClient"
      connectionString="Data Source=10.8.0.39\SQL2016;Initial Catalog=TBGWorkflow;User ID=mgrdev;Password=dev12345;"/>
    <add name="TBIGSYSDB01_TBGHumanCapital" providerName="System.Data.SqlClient"
      connectionString="Data Source=10.8.0.39\SQL2016;Initial Catalog=TBGHumanCapital;User ID=mgrdev;Password=dev12345;"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="ApplicationName" value="ARSystem"/>
    <add key="ApplicationID" value="3"/>
    <add key="IdleTime" value="60"/>
    <add key="DocPath" value="~\F7PQ3azX7krHawvMYAtz\TBGSYS\AR\"/>
    <add key="TbigSysDoc" value="~\F7PQ3azX7krHawvMYAtz\Documents\"/>
    <!--<add key="DocPath" value="\\10.8.0.59\WebApp\DocumentAR" />-->
    <add key="DocPath" value="~\F7PQ3azX7krHawvMYAtz\TBGSYS\AR\"/>
    <add key="ReportServer" value="http://10.8.0.56/reportserver"/>
    <add key="ReportPath" value="/ARSystem/DataReport/"/>
    <add key="ReportUserName" value="555505170028"/>
    <add key="ReportPassword" value="C@cing1234"/>
    <add key="ReportDomain" value="TBG"/>
    <add key="ReportWidth" value="900"/>
    <add key="ReportHeight" value="900"/>
    <add key="CountDataPerBatch" value="5000"/>
    <add key="ARSystemWH"
      value="LRNEaubGrFlvLSJTrizhAqmRtCokZIIMbCS/T2ToEUfZ5biLXaOM78cWqqr5/AKduN+Ro4VL/Z2wZwXWia1S9oN1G6wsCD0cfyxpXgwNm2X6jejrNJb+ljLJ97MhABquZ9MmmWoLwyA2NxoNdq1yNYb3h//kwdkFYWw+cFy47Jt/87IfihAuN5qWP4oyD7n7l6gX/JRUDicqOr4Z2Aj7452ACfPv2nDkqvjE5NfxPTULBOrDbN0rVgPp/5iHNJfo"/>
    <add key="ARSystem"
      value="LRNEaubGrFlvLSJTrizhAqmRtCokZIIMbCS/T2ToEUfZ5biLXaOM78cWqqr5/AKduN+Ro4VL/Z2wZwXWia1S9oN1G6wsCD0cfyxpXgwNm2X6jejrNJb+ljLJ97MhABquZ9MmmWoLwyA2NxoNdq1yNTlCnjse2+9X5x5Gt3xL7GGo6AKq9CD5ni8OVB6uO/FFQSqcGoW8EyTnnvkbbCp64OKtJtKw+CQvKxVKSB9Ftme1TDZLE+6UZjoGUU8QBXVU"/>
    <add key="TBGSys"
      value="LRNEaubGrFlvLSJTrizhAqmRtCokZIIMbCS/T2ToEUfZ5biLXaOM78cWqqr5/AKdekvayHufDFqFqSNr+3kRWNyHc37HvxTakDIipK4LfdDkKug12IHx8aWNmNkv9EMlXlHzW5rrkJbWlr7fuXq2xzl1iYvPKhO6RZLBmW9WivVhy/lKiOar7WYxmw0J4+okOA4FFJgYavhIwO24BTjvwceIuYEOlZaEHCgV8rrfyRDVEcGq+JL1nEW0Zkq0T5mEspzdEW075Yw+QHrmPn6QHA=="/>
    <add key="TBIGSys"
      value="LRNEaubGrFlvLSJTrizhAqmRtCokZIIMbCS/T2ToEUfZ5biLXaOM78cWqqr5/AKduN+Ro4VL/Z2wZwXWia1S9oN1G6wsCD0cfyxpXgwNm2X6jejrNJb+ljLJ97MhABqupRctbnc32vMENQK4OsvxkMEwDLX/7WWg6S8V4qJx5WeIRAvaJ9iuBdy2xnbpwhjKFbi3JebqgpIWarafEJBi/HniCJ4pKLhENpxpfHZVhxE="/>
    <add key="ARTBiG"
      value="LRNEaubGrFlvLSJTrizhAqmRtCokZIIMbCS/T2ToEUdBuHKXadA7+LGYxwfuW508HqatDTZG7P5yWj1NtGJ3ucrz1gRnAGeSbCbq0feP6ZN+nEmoiRBJ33YCLoToa1DuhXttxAKV6Eddh8OeNyOaNQx5BKP1aBlq1aMjETH4HkoQLpB+xv4TSM2y05pM1LN/PgV3IrzUNHwxw6930wFj7j1mfURsuPDOCys4/gHKrWM="/>
    <add key="TBGSysV1"
      value="LRNEaubGrFlvLSJTrizhAqmRtCokZIIMbCS/T2ToEUfZ5biLXaOM78cWqqr5/AKdekvayHufDFqFqSNr+3kRWNyHc37HvxTakDIipK4LfdCHnJ8bKjkL8Rk6aDKxn64jQpW4cznDexTmItvB9OUx0m3LYaeQelkxQA+0VWcuhWKr4fTq2uuy6cpLvZYFvf7SQqcyri/n5P7o0Is8I06hy9I2ak3dz9pNCj765Cdbb+lacdDOloG3rdf/t1YY1WjB"/>
    <add key="DashboardV1"
      value="LRNEaubGrFlvLSJTrizhAqmRtCokZIIMbCS/T2ToEUfZ5biLXaOM78cWqqr5/AKdekvayHufDFqFqSNr+3kRWNyHc37HvxTakDIipK4LfdCHnJ8bKjkL8Rk6aDKxn64jQpW4cznDexTmItvB9OUx0m3LYaeQelkxQA+0VWcuhWKr4fTq2uuy6cpLvZYFvf7SQqcyri/n5P7o0Is8I06hy9I2ak3dz9pNCj765Cdbb+lacdDOloG3rdf/t1YY1WjB"/>
    <add key="DBReport"
      value="LRNEaubGrFlvLSJTrizhAqmRtCokZIIMbCS/T2ToEUfZ5biLXaOM78cWqqr5/AKdekvayHufDFqFqSNr+3kRWNyHc37HvxTakDIipK4LfdCHnJ8bKjkL8Rk6aDKxn64jQpW4cznDexTmItvB9OUx0m3LYaeQelkxQA+0VWcuhWKr4fTq2uuy6cpLvZYFvf7SQqcyri/n5P7o0Is8I06hy9I2ak3dz9pNCj765Cdbb+lacdDOloG3rdf/t1YY1WjB"/>
    <add key="ARSystemDWH"
      value="LRNEaubGrFlvLSJTrizhAmQNdQtWvFyTyxdpotYTwXXuruvTs4EE0GR/WIcP7l4kA8PsSv1wV0p0l0qCHNIbosMguP3DywcJXsGPI/DK7vGSKBQklDfo7kPHBBqfvAiOzFJVNUWI/dst2p8aNNAdCjs+8Og5fMC5af/ve6TzzjKViV+Hn6imppkPy/s+3J9/GEK2wZKoZfWwbp3nBm62LOBJoKE3vE0tL6eT20tkmvU="/>
    <add key="TBGFlow"
      value="LRNEaubGrFlvLSJTrizhAqmRtCokZIIMbCS/T2ToEUd2NKRp4xksK2ns6aAyseAUOPWPSeXV6Y14wxmnGim9WJe4zPUa9JkCrEWdbuOfUvSUGFQAihS7+w+rEbayln5Hfnd51UTmjw/vRPDS2WwqLeIx5FGaJEkTKrfx88vzClOXF4o1L+8Hn1f/Zlqfsj5jeCYeUUIGlbHI57qsd4aPyhGEkqd98yNMUdeuXmyCXVo="/>
    <add key="HRData"
      value="LRNEaubGrFlvLSJTrizhAqmRtCokZIIMbCS/T2ToEUfZ5biLXaOM78cWqqr5/AKdekvayHufDFqFqSNr+3kRWNyHc37HvxTakDIipK4LfdDyi4drqOXAiT9/V/4/3XhTDKHuhfSdYr+Pp+5pG/Ru8d53QiaIXoUE7mIchUq8uhHORCdjEzZSfqmK7GvroZOggSd26j4kgFEmnp+rOc30lYSatsrnKBn0djenxhSxkZE="/>
    <add key="DWH"
      value="LRNEaubGrFlvLSJTrizhAmQNdQtWvFyTyxdpotYTwXXuruvTs4EE0GR/WIcP7l4kA8PsSv1wV0p0l0qCHNIbotbAhSweYDDRJt7lOmXs6ldk2Tn5F5IKeajOzREFuwqrBXPaMZjwPzCayiahQywsJngQrS4zds0yBJQ1aiKq9r5mK+wP7LsOp7njV/MgK1+Vfs2t36fxKvWZ6TWYd1DEtw=="/>
    <add key="HTBGSSIS" value="xfII00meIGL5m1+mL3acP+26is6IVNwgOo1r1UybVHFEEb1H0+RQtY/mdleZgrpphVYF1uE1upvQGJjVQqzGB1U+ONlfnq62nlCZKc2RAOo="/>
    <add key="HTBGDWH01_TBGARSystemWH"
      value="LRNEaubGrFlvLSJTrizhAmQNdQtWvFyTyxdpotYTwXXuruvTs4EE0GR/WIcP7l4kA8PsSv1wV0p0l0qCHNIbosMguP3DywcJXsGPI/DK7vGSKBQklDfo7kPHBBqfvAiO8aGiOxD7lCROgUSuaxF1PqbCZQtBkbMyYoj7LKS+zTQbFCNCexNKjRyQGZZOOW3OT191O5Tqks4tPYt0oA5c+u0zIjo5FwOLRZQSEYGJ/iM="/>
    <add key="TBIGSYSDB01_TBGHumanCapital"
      value="LRNEaubGrFlvLSJTrizhAqmRtCokZIIMbCS/T2ToEUfZ5biLXaOM78cWqqr5/AKduN+Ro4VL/Z2wZwXWia1S9oN1G6wsCD0cfyxpXgwNm2X6jejrNJb+ljLJ97MhABquTxdmIm2lvRrQB5K5mMEfxnrZ29rihTIzY1gR9wNPN0aoJXgqK9mhxDzu1H38X6YdHZY0nbVaaFV8RNVbWz3Ha6y0D582m3WGM3yflIaDU1cXbI0wG8k9jz6aWvsa0RAv"/>
    <add key="TBIGSYSDB01_TBGSAPIntegration"
      value="LRNEaubGrFlvLSJTrizhAqmRtCokZIIMbCS/T2ToEUfZ5biLXaOM78cWqqr5/AKduN+Ro4VL/Z2wZwXWia1S9oN1G6wsCD0cfyxpXgwNm2X6jejrNJb+ljLJ97MhABquEIDR+dd9QfRj2pT1nX4D5uAlupFshHrUvM4FYNs7oHuwOFpvvhdgPKAHZ997htDPYQQEzFOY82qgzSuRMR49yNpe06WP2GLQ38NloS8Wx/K9aXHglJxEg57az1p1EAQDMFN0iV24xLH0bnVR+VX8yg=="/>
    <add key="EmailProfile" value="TBGSYS2"/>
    <add key="HumanCapital"
      value="LRNEaubGrFlvLSJTrizhAqmRtCokZIIMbCS/T2ToEUfZ5biLXaOM78cWqqr5/AKduN+Ro4VL/Z2wZwXWia1S9oN1G6wsCD0cfyxpXgwNm2X6jejrNJb+ljLJ97MhABquTxdmIm2lvRrQB5K5mMEfxnrZ29rihTIzY1gR9wNPN0aI54qo3u3R/DCoirDgBVEwmNtppRCRS3WgV2Pa/0ORRNrkhupaPfm3S2QUx1Nemm+Qx2uVlR4EOzln4qMmFPyK"/>
    <add key="LinkARSystem" value="https://10.8.0.41:8815"/>
    <add key="DocumentTeamMatePath" value="~\F7PQ3azX7krHawvMYAtz\TeamMate\"/>
    <add key="TeamMate"
      value="LRNEaubGrFlvLSJTrizhAqmRtCokZIIMbCS/T2ToEUfZ5biLXaOM78cWqqr5/AKduN+Ro4VL/Z2wZwXWia1S9oN1G6wsCD0cfyxpXgwNm2X6jejrNJb+ljLJ97MhABqu57fTHiC2YWUgAR7PitNT0AH+OVgSZXTD9IRMvFPK8CTjslbaXbQcZ58i1mbv52KUrwAsI8Vrv5QYMbVZg5z8uLIBr38HKiLJEc2BzPddZcuzJOdmRg0r6Olb05K2YENC"/>
    <add key="DocSupportSite" value="~\X7xEa5B8gxpW5QCyrPm3\"/>
    <add key="TBGSysV1URL" value="http://htbgdevsit01:8010/"/>
    <add key="TBIGSYSDB01_TBGSecureAccess"
      value="LRNEaubGrFlvLSJTrizhAqmRtCokZIIMbCS/T2ToEUfZ5biLXaOM78cWqqr5/AKduN+Ro4VL/Z2wZwXWia1S9oN1G6wsCD0cfyxpXgwNm2X6jejrNJb+ljLJ97MhABqu8JQCCdFr5hRoSRmQz8/ymmZvGNcOqOjwkG9zy3pccvcr2P0kwVzH4xv72D7mmuV5XbIb6V2bTTuXwc7KwAFMi/P9M3djWfHskP2e7wFoW4U813DUfRiz48qm/2+syzvN"/>
   <add key="HashTBGWorkflow" value="14ACD782DCFEB2BCDE2B271CCD559477"/>
    <add key="MasterLoginTBGWorkflow" value="admin"/>
    <add key="TBIGSYSDB01_TBGHumanCapital"
      value="LRNEaubGrFlvLSJTrizhAqmRtCokZIIMbCS/T2ToEUfZ5biLXaOM78cWqqr5/AKduN+Ro4VL/Z2wZwXWia1S9oN1G6wsCD0cfyxpXgwNm2X6jejrNJb+ljLJ97MhABquTxdmIm2lvRrQB5K5mMEfxnrZ29rihTIzY1gR9wNPN0aoJXgqK9mhxDzu1H38X6YdHZY0nbVaaFV8RNVbWz3Ha6y0D582m3WGM3yflIaDU1cXbI0wG8k9jz6aWvsa0RAv"/>
    <add key="TBIGSYSDB01_TBGWorkflow"
      value="LRNEaubGrFlvLSJTrizhAqmRtCokZIIMbCS/T2ToEUfZ5biLXaOM78cWqqr5/AKduN+Ro4VL/Z2wZwXWia1S9oN1G6wsCD0cfyxpXgwNm2X6jejrNJb+ljLJ97MhABquGDF+gJN5o4g7AMla7b+cIQlAqXlhbm8aAY1S464dm2kS2+MJlz1QynWdTB+0C7zQQAPGf1PgDXF0/sSD3L5lWuGVY03kgz2EJZYTOmA1ski4WShOgeCxLGUVR7kajEiI"/>

  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <modules>
      <remove name="WebDAVModule"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404"/>
      <remove statusCode="500"/>
      <error statusCode="404" responseMode="ExecuteURL" path="/Error/NotFound"/>
      <error statusCode="500" responseMode="ExecuteURL" path="/Error"/>
    </httpErrors>
    <handlers>
      <remove name="WebDAV"/>
      <remove name="ReportViewerWebControlHandler"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd"
        type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <customErrors mode="Off"/>
    <httpRuntime maxRequestLength="1073741824" targetFramework="4.5"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*"
        type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"
        validate="false"/>
    </httpHandlers>
    <machineKey validationKey="E4451576F51E0562D91A1748DF7AB3027FEF3C2CCAC46D756C833E1AF20C7BAEFFACF97C7081ADA4648918E0B56BF27D1699A6EB2D9B6967A562CAD14767F163"
      decryptionKey="6159C46C9E288028ED26F5A65CED7317A83CB3485DE8C592" validation="HMACSHA256" decryption="AES"/>
    <authentication mode="Forms">
      <forms loginUrl="~/" slidingExpiration="true" timeout="20" name="SSOTBG"/>
    </authentication>
    <membership defaultProvider="ARMembershipProvider">
      <providers>
        <clear/>
        <add name="ARMembershipProvider" type="ARSystemFrontEnd.Providers.ARMembershipProvider"/>
      </providers>
    </membership>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FastMember.Signed" publicKeyToken="9e8f22703bef9a29" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAccessService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IRoleService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IUserService1" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IUserVendorService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IDocumentService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IMarketingFormService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IMasterService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ISTIPService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IUserService2" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IAssetService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IRADashboardService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IActionService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IDashboardService1" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ITaskToDoService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IUserCustomerService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IHomeDashboardService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IDashboardNavigationService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IDashboardCategoryService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IDirectorateService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IDashboardNavigationMenuService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ImstRejectService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ImstCompanyInformationService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxBAPSDataService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IUserService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ImstDataSourceService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxCreateInvoiceTowerService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxPostingInvoiceTowerService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxPrintInvoiceTowerService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IEmailService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxCreateInvoiceTowerRemainingAmountService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ImstProductTypeService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ImstCustomerService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ImstCustomerTenantService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ImstTenantService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ImstProductService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ImstProjectInformationService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxInvoiceBuildingDetailService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxInvoiceOtherProductDetailService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ImstPICAReprintService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ImstTaxInvoiceService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ImstKursService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IDashboardService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxChecklistInvoiceTowerService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxManageMergedInvoiceOnlyTowerService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxManageMergedInvoiceDetailTowerService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxReportInvoiceTowerService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxARProcessInvoiceTowerService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxARProcessInvoiceBuildingService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxARPaymentInvoiceBuildingService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxARPaymentInvoiceTowerService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxCollectionReportInvoiceService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxApprovalARMonitoringBuildingService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxApprovalARMonitoringTowerService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxBapsBigDataService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxCreateBigInvoiceTowerService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IRevenueSystemService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IReconcileDataService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IPOInputService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IBOQDataService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_INewBapsStartBapsService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_INewBapsCheckingDocumentService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IRTIService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxRALogActivity" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IBAPSBulkyService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_INewBapsInputService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_INewBapsService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ImstApprovalBAPSService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IBAPSValidation" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxReconcileRejectNonTSELService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IRADashboardService1" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_INotificationService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ImstInvoiceDeductionService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ImstPaymentBankService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxApprovalCNInvoiceTowerService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxApprovalCNInvoiceBuildingService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxReserveInvoiceNumber" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxHistoryCNInvoiceARCollectionService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxHistoryCNInvoiceARDataService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxCNInvoiceBuildingService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxCNInvoiceTowerService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IReconcileDoneService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxARReOPenPaymentDate" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ImstCategoryBuildingService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ImstRESlipService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxInvoiceManualTempService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ItrxInvoiceManualService" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ImstValidasiInvoiceManualService" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.8.0.41:8909/TBGSysService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentService"
        contract="TBGSysService.IDocumentService" name="BasicHttpBinding_IDocumentService"/>
      <endpoint address="http://10.8.0.41:8909/TBGSysService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMarketingFormService"
        contract="TBGSysService.IMarketingFormService" name="BasicHttpBinding_IMarketingFormService"/>
      <endpoint address="http://10.8.0.41:8909/TBGSysService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMasterService"
        contract="TBGSysService.IMasterService" name="BasicHttpBinding_IMasterService"/>
      <endpoint address="http://10.8.0.41:8909/TBGSysService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISTIPService"
        contract="TBGSysService.ISTIPService" name="BasicHttpBinding_ISTIPService"/>
      <endpoint address="http://10.8.0.41:8909/TBGSysService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService2"
        contract="TBGSysService.IUserService" name="BasicHttpBinding_IUserService2"/>
      <endpoint address="http://10.8.0.41:8909/TBGSysService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAssetService"
        contract="TBGSysService.IAssetService" name="BasicHttpBinding_IAssetService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ImstRejectService"
        contract="ARSystemService.ImstRejectService" name="BasicHttpBinding_ImstRejectService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ImstCompanyInformationService" contract="ARSystemService.ImstCompanyInformationService"
        name="BasicHttpBinding_ImstCompanyInformationService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ItrxBAPSDataService"
        contract="ARSystemService.ItrxBAPSDataService" name="BasicHttpBinding_ItrxBAPSDataService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
        contract="ARSystemService.IUserService" name="BasicHttpBinding_IUserService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ImstDataSourceService" contract="ARSystemService.ImstDataSourceService"
        name="BasicHttpBinding_ImstDataSourceService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ItrxCreateInvoiceTowerService" contract="ARSystemService.ItrxCreateInvoiceTowerService"
        name="BasicHttpBinding_ItrxCreateInvoiceTowerService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ItrxPostingInvoiceTowerService" contract="ARSystemService.ItrxPostingInvoiceTowerService"
        name="BasicHttpBinding_ItrxPostingInvoiceTowerService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ItrxPrintInvoiceTowerService" contract="ARSystemService.ItrxPrintInvoiceTowerService"
        name="BasicHttpBinding_ItrxPrintInvoiceTowerService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmailService"
        contract="ARSystemService.IEmailService" name="BasicHttpBinding_IEmailService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ItrxCreateInvoiceTowerRemainingAmountService"
        contract="ARSystemService.ItrxCreateInvoiceTowerRemainingAmountService" name="BasicHttpBinding_ItrxCreateInvoiceTowerRemainingAmountService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ImstProductTypeService" contract="ARSystemService.ImstProductTypeService"
        name="BasicHttpBinding_ImstProductTypeService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ImstCustomerService"
        contract="ARSystemService.ImstCustomerService" name="BasicHttpBinding_ImstCustomerService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ImstCustomerTenantService" contract="ARSystemService.ImstCustomerTenantService"
        name="BasicHttpBinding_ImstCustomerTenantService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ImstTenantService"
        contract="ARSystemService.ImstTenantService" name="BasicHttpBinding_ImstTenantService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ImstProductService"
        contract="ARSystemService.ImstProductService" name="BasicHttpBinding_ImstProductService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ImstProjectInformationService" contract="ARSystemService.ImstProjectInformationService"
        name="BasicHttpBinding_ImstProjectInformationService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ItrxInvoiceBuildingDetailService" contract="ARSystemService.ItrxInvoiceBuildingDetailService"
        name="BasicHttpBinding_ItrxInvoiceBuildingDetailService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ItrxInvoiceOtherProductDetailService" contract="ARSystemService.ItrxInvoiceOtherProductDetailService"
        name="BasicHttpBinding_ItrxInvoiceOtherProductDetailService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ImstPICAReprintService" contract="ARSystemService.ImstPICAReprintService"
        name="BasicHttpBinding_ImstPICAReprintService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ImstTaxInvoiceService" contract="ARSystemService.ImstTaxInvoiceService"
        name="BasicHttpBinding_ImstTaxInvoiceService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ImstKursService"
        contract="ARSystemService.ImstKursService" name="BasicHttpBinding_ImstKursService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDashboardService"
        contract="ARSystemService.IDashboardService" name="BasicHttpBinding_IDashboardService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ItrxChecklistInvoiceTowerService" contract="ARSystemService.ItrxChecklistInvoiceTowerService"
        name="BasicHttpBinding_ItrxChecklistInvoiceTowerService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ItrxManageMergedInvoiceOnlyTowerService" contract="ARSystemService.ItrxManageMergedInvoiceOnlyTowerService"
        name="BasicHttpBinding_ItrxManageMergedInvoiceOnlyTowerService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ItrxManageMergedInvoiceDetailTowerService" contract="ARSystemService.ItrxManageMergedInvoiceDetailTowerService"
        name="BasicHttpBinding_ItrxManageMergedInvoiceDetailTowerService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ItrxReportInvoiceTowerService" contract="ARSystemService.ItrxReportInvoiceTowerService"
        name="BasicHttpBinding_ItrxReportInvoiceTowerService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ItrxARProcessInvoiceTowerService" contract="ARSystemService.ItrxARProcessInvoiceTowerService"
        name="BasicHttpBinding_ItrxARProcessInvoiceTowerService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ItrxARProcessInvoiceBuildingService" contract="ARSystemService.ItrxARProcessInvoiceBuildingService"
        name="BasicHttpBinding_ItrxARProcessInvoiceBuildingService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ItrxARPaymentInvoiceBuildingService" contract="ARSystemService.ItrxARPaymentInvoiceBuildingService"
        name="BasicHttpBinding_ItrxARPaymentInvoiceBuildingService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ItrxARPaymentInvoiceTowerService" contract="ARSystemService.ItrxARPaymentInvoiceTowerService"
        name="BasicHttpBinding_ItrxARPaymentInvoiceTowerService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ItrxCollectionReportInvoiceService" contract="ARSystemService.ItrxCollectionReportInvoiceService"
        name="BasicHttpBinding_ItrxCollectionReportInvoiceService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ItrxApprovalARMonitoringBuildingService" contract="ARSystemService.ItrxApprovalARMonitoringBuildingService"
        name="BasicHttpBinding_ItrxApprovalARMonitoringBuildingService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ItrxApprovalARMonitoringTowerService" contract="ARSystemService.ItrxApprovalARMonitoringTowerService"
        name="BasicHttpBinding_ItrxApprovalARMonitoringTowerService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ItrxBapsBigDataService" contract="ARSystemService.ItrxBapsBigDataService"
        name="BasicHttpBinding_ItrxBapsBigDataService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ItrxCreateBigInvoiceTowerService" contract="ARSystemService.ItrxCreateBigInvoiceTowerService"
        name="BasicHttpBinding_ItrxCreateBigInvoiceTowerService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IRevenueSystemService" contract="ARSystemService.IRevenueSystemService"
        name="BasicHttpBinding_IRevenueSystemService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IReconcileDataService" contract="ARSystemService.IReconcileDataService"
        name="BasicHttpBinding_IReconcileDataService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPOInputService"
        contract="ARSystemService.IPOInputService" name="BasicHttpBinding_IPOInputService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBOQDataService"
        contract="ARSystemService.IBOQDataService" name="BasicHttpBinding_IBOQDataService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_INewBapsStartBapsService" contract="ARSystemService.INewBapsStartBapsService"
        name="BasicHttpBinding_INewBapsStartBapsService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_INewBapsCheckingDocumentService" contract="ARSystemService.INewBapsCheckingDocumentService"
        name="BasicHttpBinding_INewBapsCheckingDocumentService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRTIService"
        contract="ARSystemService.IRTIService" name="BasicHttpBinding_IRTIService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ItrxRALogActivity"
        contract="ARSystemService.ItrxRALogActivity" name="BasicHttpBinding_ItrxRALogActivity"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBAPSBulkyService"
        contract="ARSystemService.IBAPSBulkyService" name="BasicHttpBinding_IBAPSBulkyService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_INewBapsInputService" contract="ARSystemService.INewBapsInputService"
        name="BasicHttpBinding_INewBapsInputService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewBapsService"
        contract="ARSystemService.INewBapsService" name="BasicHttpBinding_INewBapsService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ImstApprovalBAPSService" contract="ARSystemService.ImstApprovalBAPSService"
        name="BasicHttpBinding_ImstApprovalBAPSService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBAPSValidation"
        contract="ARSystemService.IBAPSValidation" name="BasicHttpBinding_IBAPSValidation"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ItrxReconcileRejectNonTSELService" contract="ARSystemService.ItrxReconcileRejectNonTSELService"
        name="BasicHttpBinding_ItrxReconcileRejectNonTSELService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IRADashboardService1" contract="ARSystemService.IRADashboardService" name="BasicHttpBinding_IRADashboardService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_INotificationService" contract="ARSystemService.INotificationService"
        name="BasicHttpBinding_INotificationService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ImstInvoiceDeductionService" contract="ARSystemService.ImstInvoiceDeductionService"
        name="BasicHttpBinding_ImstInvoiceDeductionService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ImstPaymentBankService" contract="ARSystemService.ImstPaymentBankService"
        name="BasicHttpBinding_ImstPaymentBankService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ItrxApprovalCNInvoiceTowerService" contract="ARSystemService.ItrxApprovalCNInvoiceTowerService"
        name="BasicHttpBinding_ItrxApprovalCNInvoiceTowerService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ItrxApprovalCNInvoiceBuildingService" contract="ARSystemService.ItrxApprovalCNInvoiceBuildingService"
        name="BasicHttpBinding_ItrxApprovalCNInvoiceBuildingService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ItrxReserveInvoiceNumber" contract="ARSystemService.ItrxReserveInvoiceNumber"
        name="BasicHttpBinding_ItrxReserveInvoiceNumber"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ItrxHistoryCNInvoiceARCollectionService" contract="ARSystemService.ItrxHistoryCNInvoiceARCollectionService"
        name="BasicHttpBinding_ItrxHistoryCNInvoiceARCollectionService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ItrxHistoryCNInvoiceARDataService" contract="ARSystemService.ItrxHistoryCNInvoiceARDataService"
        name="BasicHttpBinding_ItrxHistoryCNInvoiceARDataService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ItrxCNInvoiceBuildingService" contract="ARSystemService.ItrxCNInvoiceBuildingService"
        name="BasicHttpBinding_ItrxCNInvoiceBuildingService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ItrxCNInvoiceTowerService" contract="ARSystemService.ItrxCNInvoiceTowerService"
        name="BasicHttpBinding_ItrxCNInvoiceTowerService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IReconcileDoneService" contract="ARSystemService.IReconcileDoneService"
        name="BasicHttpBinding_IReconcileDoneService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ItrxARReOPenPaymentDate" contract="ARSystemService.ItrxARReOPenPaymentDate"
        name="BasicHttpBinding_ItrxARReOPenPaymentDate"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ImstCategoryBuildingService" contract="ARSystemService.ImstCategoryBuildingService"
        name="BasicHttpBinding_ImstCategoryBuildingService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ImstRESlipService"
        contract="ARSystemService.ImstRESlipService" name="BasicHttpBinding_ImstRESlipService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ItrxInvoiceManualTempService" contract="ARSystemService.ItrxInvoiceManualTempService"
        name="BasicHttpBinding_ItrxInvoiceManualTempService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ItrxInvoiceManualService" contract="ARSystemService.ItrxInvoiceManualService"
        name="BasicHttpBinding_ItrxInvoiceManualService"/>
      <endpoint address="http://10.8.0.41:8814/ARSystemService.svc?wsdl" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ImstValidasiInvoiceManualService" contract="ARSystemService.ImstValidasiInvoiceManualService"
        name="BasicHttpBinding_ImstValidasiInvoiceManualService"/>
      <endpoint address="http://10.8.0.41:8801/SecureAccessService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccessService"
        contract="SecureAccessService.IAccessService" name="BasicHttpBinding_IAccessService"/>
      <endpoint address="http://10.8.0.41:8801/SecureAccessService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoleService"
        contract="SecureAccessService.IRoleService" name="BasicHttpBinding_IRoleService"/>
      <endpoint address="http://10.8.0.41:8801/SecureAccessService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService1"
        contract="SecureAccessService.IUserService" name="BasicHttpBinding_IUserService1"/>
      <endpoint address="http://10.8.0.41:8801/SecureAccessService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserVendorService"
        contract="SecureAccessService.IUserVendorService" name="BasicHttpBinding_IUserVendorService"/>
      <endpoint address="http://10.8.0.41:8801/SecureAccessService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IActionService"
        contract="SecureAccessService.IActionService" name="BasicHttpBinding_IActionService"/>
      <endpoint address="http://10.8.0.41:8801/SecureAccessService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDashboardService1"
        contract="SecureAccessService.IDashboardService" name="BasicHttpBinding_IDashboardService1"/>
      <endpoint address="http://10.8.0.41:8801/SecureAccessService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITaskToDoService"
        contract="SecureAccessService.ITaskToDoService" name="BasicHttpBinding_ITaskToDoService"/>
      <endpoint address="http://10.8.0.41:8801/SecureAccessService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserCustomerService"
        contract="SecureAccessService.IUserCustomerService" name="BasicHttpBinding_IUserCustomerService"/>
      <endpoint address="http://10.8.0.41:8801/SecureAccessService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IHomeDashboardService" contract="SecureAccessService.IHomeDashboardService"
        name="BasicHttpBinding_IHomeDashboardService"/>
      <endpoint address="http://10.8.0.41:8801/SecureAccessService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IDashboardNavigationService" contract="SecureAccessService.IDashboardNavigationService"
        name="BasicHttpBinding_IDashboardNavigationService"/>
      <endpoint address="http://10.8.0.41:8801/SecureAccessService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IDashboardCategoryService" contract="SecureAccessService.IDashboardCategoryService"
        name="BasicHttpBinding_IDashboardCategoryService"/>
      <endpoint address="http://10.8.0.41:8801/SecureAccessService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDirectorateService"
        contract="SecureAccessService.IDirectorateService" name="BasicHttpBinding_IDirectorateService"/>
      <endpoint address="http://10.8.0.41:8801/SecureAccessService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IDashboardNavigationMenuService" contract="SecureAccessService.IDashboardNavigationMenuService"
        name="BasicHttpBinding_IDashboardNavigationMenuService"/>
    </client>
  </system.serviceModel>
</configuration>
<!--ProjectGuid: {6046F042-984D-4C2B-9A09-6407398059C1}-->