<div class="row panelSearchZero">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="note note-warning text-center">
                    <p> <strong>No Data Found!</strong> </p>
                </div>
            </div>
        </div>
    </div>
</div>
