<div class="row panelSearchBegin">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="note note-info text-center">
                    <p> <strong>Welcome!</strong> Please click button <b>Search</b> to begin your search. </p>
                </div>
            </div>
        </div>
    </div>
</div>
