

<div class="row panelSiteInfo">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-blue-steel">
                    <i class="fa fa-table"></i>
                    <span class="caption-subject">Site Information</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="tabSiteInfo">
                        <form id="siteInfo" class="form-horizontal" role="form">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-6 portlet light bordered">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">SO Number :</label>
                                            <label id="SoNumber" class="control-label text-left"></label>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Site ID TBG :</label>
                                            <label id="SiteIdTbg" class="control-label text-left"></label>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Customer Site ID :</label>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="CustomerSiteID" />
                                            </div>
                                            @*<label id="CustomerSiteID" class="control-label text-left"></label>*@
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Company ID :</label>
                                            <label id="CompanyID" class="control-label text-left"></label>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">SIRO :</label>
                                            <div class="col-md-4">
                                                <select id="StipSiro" class="form-control"></select>
                                                @*<input type="number" class="form-control" id="StipSiro" />*@
                                            </div>
                                            @*<label id="CompanyID" class="control-label text-left"></label>*@
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">BAPS Type :</label>
                                            @*<label id="BapsType" class="control-label text-left"></label>*@
                                            <div class="col-md-4">
                                                <select id="BapsType" class="form-control"></select>
                                            </div>
                                        </div>
                                        @*<div class="form-group">
                                                <label class="col-md-4 control-label">AM Name :</label>
                                                <label id="AmName" class="control-label text-left"></label>
                                            </div>*@
                                    </div>

                                    <div class="col-md-6 portlet light bordered">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Customer ID :</label>
                                            <label id="CustomerID" class="control-label text-left"></label>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Site Name :</label>
                                            <label id="SiteName" class="control-label text-left"></label>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Customer Site Name :</label>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="CustomerSiteName" />
                                            </div>
                                            @*<label id="CustomerSiteName" class="control-label text-left"></label>*@
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Company Name :</label>
                                            <label id="CompanyName" class="control-label text-left"></label>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Stip Category :</label>
                                            <label id="StipCategory" class="control-label text-left"></label>
                                        </div>
                                        <div class="form-group" id="pwr">
                                            <label class="col-md-4 control-label">Power Type :</label>
                                            @*<label id="BapsType" class="control-label text-left"></label>*@
                                            <div class="col-md-5">
                                                <select id="PowerType" class="form-control"></select>
                                            </div>
                                        </div>
                                        @*<div class="form-group">
                                                <label class="col-md-4 control-label">PM Name :</label>
                                                <label id="PmName" class="control-label text-left"></label>
                                            </div>*@
                                        @*<div class="form-group">
                                                <label class="col-md-4 control-label">Invoice Type :</label>
                                                <label id="InvoiceTypeID" class="control-label text-left"></label>
                                            </div>*@

                                        @*<div class="form-group">
                                                <label class="col-md-4 control-label">PIC Name :</label>
                                                <label id="PicName" class="control-label text-left"></label>
                                            </div>*@
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>