
@{
    ViewBag.Title = "SummaryAP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
div.DTS tbody td {
   white-space: normal; 
}
</style>

<section id="pnlSummary">
    @*Search Result*@
    <div class="row panelSearchResult ">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-blue-steel">
                        <i class="fa fa-table"></i>
                        <span class="caption-subject">Search Result</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabRaw">
                            <div class="row">
                                <div class="form-horizontal">
                                    <div class="form-body">
                                        <div class="col-md-12">
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-8">
                                                <table class="table table-responsive table-striped table-bordered table-hover datatable-custom-width" id="tblHead">
                                                    <thead id="tblHeadInitial">
                                                        <tr>
                                                            <th class='datatable-col-100' style="background-color:#2D5F8B; color:white;">Product Site </th>
                                                            <th class='datatable-col-50' style="background-color:#2D5F8B; color:white;">Qty (Sonumb)</th>
                                                            <th class='datatable-col-100' style="background-color:#2D5F8B; color:white;">Total Cost (Mio)</th>
                                                            <th class='datatable-col-100' style="background-color:#2D5F8B; color:white;">Total Revenue (Mio)</th>
                                                        </tr>
                                                    </thead>
                                                    <tfoot>
                                                        <tr>
                                                            <th style="text-align:left; font-size:14px; background-color:darkorange;">Total</th>
                                                            <th style="text-align:center; font-size:14px; background-color:darkorange;"></th>
                                                            <th style="text-align:right; font-size:14px; background-color:darkorange;"></th>
                                                            <th style="text-align:right; font-size:14px; background-color:darkorange;"></th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row panelSearchResultSummary ">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-blue-steel">
                        <i class="fa fa-table"></i>
                        <span class="caption-subject">Search Result</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabRaw">
                            <table class="table table-responsive table-striped table-bordered table-hover datatable-custom-width" id="tblSummary">
                                <thead id="tblHeadSummary">

                                </thead>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-12 text-center">
            <button type="button" id="btBackGroup" class="btn blue-oleo" onclick="Form.HideSummary();">
                <i class="fa fa-arrow-left"></i> Back
            </button>
        </div>
    </div>

    <div class="row panelSearchResultTenant ">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-blue-steel">
                        <i class="fa fa-table"></i>
                        <span class="caption-subject">List Tenant</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabRawTenant">
                            <table class="table table-responsive table-striped table-bordered table-hover datatable-custom-width" id="tblSummaryTenant">
                                <thead>
                                    <tr>
                                        <th class="datatable-col-25">No</th>
                                        <th class="datatable-col-100">SO Number</th>
                                        <th class="datatable-col-100">Site ID</th>
                                        <th class="datatable-col-400">Site Name</th>
                                        <th class="datatable-col-200">Regional</th>
                                        <th class="datatable-col-100">Stip Category</th>
                                        <th class="datatable-col-100">Product</th>
                                        <th class="datatable-col-100">Total Amount Cost (Mio)</th>
                                        <th class="datatable-col-100">Total Amount Revenue (Mio)</th>
                                    </tr>
                                </thead>
                                @*<tfoot>
                                    <tr>
                                        <th colspan="7" style="text-align:left; font-size:14px;">Total</th>
                                        <th style="text-align:right; font-size:14px;"></th>
                                        <th style="text-align:right; font-size:14px;"></th>
                                    </tr>
                                </tfoot>*@
                            </table>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row col-md-12 text-center">
            <button type="button" id="btBackSummary" class="btn blue-oleo">
                <i class="fa fa-arrow-left"></i> Back
            </button>
        </div>
    </div>

    <div class="row panelSearchResultTenantDetail ">
        <div class="row panelFilter">
            <div class="col-md-12">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption font-white">
                            <i class="fa fa-filter"></i>
                            <span class="caption-subject">Tenant Information</span>
                        </div>
                        <div class="tools">
                            <a href="" class="collapse"> </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <form id="formSearch" class="form-horizontal" role="form">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">SONumber</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="txtSONumber"  disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Site ID</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="txtSiteID"  disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Site Name</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="txtSiteName"  disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Product</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="txtProduct"  disabled/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Customer Site ID</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="txtCustomerSiteID"  disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Customer Site Name</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="txtCustomerSiteName" disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Regional</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="txtRegional"  disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Stip Category</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="txtStipCategory"  disabled/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-blue-steel">
                        <i class="fa fa-table"></i>
                        <span class="caption-subject">Detail Cost</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabRawTenantDetail">
                            <table class="table table-striped table-bordered table-hover datatable-custom-width" id="tblSummaryTenantCost">
                                <thead>
                                    <tr>
                                        <th class="datatable-col-50">No</th>
                                        <th class="datatable-col-50">Source Data</th>
                                        <th class="datatable-col-150">Doc Number</th>
                                        <th class="datatable-col-100">Appr Fin Date</th>
                                        <th class="datatable-col-100">Voucher</th>
                                        <th class="datatable-col-100">Transdate</th>
                                        <th class="datatable-col-150">Invoice</th>
                                        <th class="datatable-col-100">Amount (Mio)</th>
                                        <th class="datatable-col-250">Description</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th colspan="6" style="text-align:left; font-size:14px;">Total</th>
                                        <th style="text-align:right; font-size:14px;"></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-blue-steel">
                        <i class="fa fa-table"></i>
                        <span class="caption-subject">Detail Revenue</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabRawTenantDetailRevenue">
                            <table class="table table-striped table-bordered table-hover datatable-custom-width" id="tblSummaryTenantRevenue">
                                <thead>
                                    <tr>
                                        <th class="datatable-col-25">No</th>
                                        <th class="datatable-col-100">Revenue Type</th>
                                        <th class="datatable-col-75">Customer ID</th>
                                        <th class="datatable-col-150">Invoice Number</th>
                                        <th class="datatable-col-300">Period Invoice</th>
                                        <th class="datatable-col-150">Amount (Mio)</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th colspan="4" style="text-align:left; font-size:14px;">Total</th>
                                        <th style="text-align:right; font-size:14px;"></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row col-md-12 text-center">
            <button type="button" id="btBackTenant" class="btn blue-oleo">
                <i class="fa fa-arrow-left"></i> Back
            </button>
        </div>
    </div>

</section>
<a id="dlink" style="display:none;"></a>
<script src="@Url.Content("~/scripts/accountpayable/summaryap.js")" type="text/javascript"></script>
<script type="text/javascript">
    
</script>