
@{
    ViewBag.Title = "MonitoringBAPSDone";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //var Path = ARSystemFrontEnd.Helper.Helper.GetDocPath().Replace("~", "..\\..");
    var Path = ARSystemFrontEnd.Helper.Helper.GetDocPath();
}

<style>
    .height {
        height: 59px;
        /* Start of CSS for fixing layouts in JQuery Datatables with Freeze Columns */
    }

    .panelSearchResult .table-scrollable {
        border: none !important;
    }

    /* End of CSS for fixing layouts in JQuery Datatables with Freeze Columns */
    table tbody tr td {
        font-size: 12px !important;
    }

    th {
        font-size: 12px !important;
        text-align: center;
    }
</style>
<section id="pnlFilter">
    <div class="row filter">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption font-white">
                        <i class="fa fa-filter"></i>
                        <span class="caption-subject">Filter</span>
                    </div>
                    <div class="tools">
                        <a href="" class="collapse"> </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form id="formSearch" class="form-horizontal" role="form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Customer</label>
                                        <div class="col-md-8">
                                            <select id="sslCustomerID" class="form-control select2"></select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Company</label>
                                        <div class="col-md-8">
                                            <select id="sslCompanyID" class="form-control select2"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Stip Category</label>
                                        <div class="col-md-8">
                                            <select id="sslStipID" class="form-control select2"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Year</label>
                                        <div class="col-md-8">
                                            <select id="sslYear" class="form-control select2"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Group By</label>
                                        <div class="col-md-8">
                                            <select id="sslGroupBy" class="form-control select2"></select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-8">
                                            <div class="mt-radio-inline">
                                                <label class="mt-radio">
                                                    <input type="radio" name="rdDataType" value="1" checked> By Site
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio">
                                                    <input type="radio" name="rdDataType" value="2">  By Amount
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Region</label>
                                        <div class="col-md-8">
                                            <select id="sslRegionID" class="form-control select2"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Province</label>
                                        <div class="col-md-8">
                                            <select id="sslProvinceID" class="form-control select2"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Tenant Type</label>
                                        <div class="col-md-8">
                                            <select id="sslProductID" class="form-control select2"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Power Type</label>
                                        <div class="col-md-8">
                                            <select id="sslPowerTypeID" class="form-control select2"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">BAPS Type</label>
                                        <div class="col-md-8">
                                            <select id="sslBapsType" class="form-control select2"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions text-center">
                            <button type="button" id="btSearch" class="btn blue mt-ladda-btn ladda-button NeedRounding" data-style="zoom-in">
                                <i class="fa fa-search"></i> Search
                            </button>
                            <button type="button" id="btReset" class="btn blue-oleo">
                                <i class="fa fa-refresh"></i> Reset
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="pnlSummary">

    @*@Html.Partial("_PanelSearchBegin")
        @Html.Partial("_PanelSearchZero")*@

    <div class="row" id="SummaryHeader">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-blue-steel">
                        <i class="fa fa-table"></i>
                        <span class="caption-subject">Search Result</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabRaw">
                            <table class="table table-striped table-bordered table-hover datatable-custom-width" id="tblSummaryHeader">
                                <thead>
                                    @*<tr>
                                            <th class="datatable-col-10">No</th> <!--0-->
                                            <th class="datatable-col-200">Description</th> <!--1-->
                                            <th class="datatable-col-100">Jan</th> <!--2-->
                                            <th class="datatable-col-100">Feb</th> <!--3-->
                                            <th class="datatable-col-100">Mar</th> <!--4-->
                                            <th class="datatable-col-100">Apr</th> <!--5-->
                                            <th class="datatable-col-100">May</th><!--6-->
                                            <th class="datatable-col-100">Jun</th> <!--7-->
                                            <th class="datatable-col-100">Jul</th> <!--8-->
                                            <th class="datatable-col-100">Aug</th> <!--9-->
                                            <th class="datatable-col-100">Sep</th><!--10-->
                                            <th class="datatable-col-100">Oct</th> <!--11-->
                                            <th class="datatable-col-100">Nov</th> <!--12-->
                                            <th class="datatable-col-100">Dec</th> <!--13-->
                                            <th class="datatable-col-100">Total</th>
                                            <th></th>
                                        </tr>*@
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="SummaryDetail">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-blue-steel">
                        <i class="fa fa-table"></i>
                        <span class="caption-subject">Search Result</span>
                    </div>

                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabRaw">
                            <table class="table table-striped table-bordered table-hover datatable-custom-width" id="tblSummaryDetail">
                                <thead>
                                    <tr>
                                        <th class="datatable-col-25">No</th> <!--0-->
                                        <th class="datatable-col-200">SO Number</th>  <!--1-->
                                        <th class="datatable-col-150">Site ID</th>  <!--2-->
                                        <th class="datatable-col-200">Site Name </th>  <!--3-->
                                        <th class="datatable-col-150">Site ID Cust</th>  <!--4-->
                                        <th class="datatable-col-200">Site Name Cust</th>  <!--5-->
                                        <th class="datatable-col-100">Tenant Type</th>  <!--6-->
                                        <th class="datatable-col-50">SIRO</th>  <!--7-->
                                        <th class="datatable-col-100">STIP Category</th>  <!--8-->
                                        <th class="datatable-col-150">Company</th>  <!--9-->
                                        <th class="datatable-col-50">Customer</th>  <!--10-->
                                        <th class="datatable-col-150">Region Name</th>  <!--11-->
                                        <th class="datatable-col-150">Province Name</th> <!--12-->
                                        <th class="datatable-col-150">Recidence Name</th> <!--13-->
                                        <th class="datatable-col-100">RFI Done</th>  <!--14-->
                                        <th class="datatable-col-100">BAUK Done</th>  <!--15-->
                                        <th class="datatable-col-100">PO Done</th>  <!--16-->
                                        <th class="datatable-col-100">PO Number</th>  <!--16-->
                                        <th class="datatable-col-100">BAPS Date</th>  <!--17-->
                                        <th class="datatable-col-100">BAPS Done</th>  <!--18-->
                                        <th class="datatable-col-100">BAPS Amount</th>  <!--19-->
                                        <th class="datatable-col-200">BAPS Number</th>  <!--19-->
                                        @*Added by ASE*@
                                        <th class="datatable-col-100">Start Leased Date</th>
                                        <th class="datatable-col-100">End Leased Date</th>
                                        <th class="datatable-col-100">Start Invoice Date</th>
                                        <th class="datatable-col-100">End Invoice Date</th>
                                        <th class="datatable-col-100">Receiving Date</th>
                                        <th class="datatable-col-100">Confirm Date</th>                                        
                                        
                                        <th class="datatable-col-100">Create Invoicing Date</th>
                                        <th class="datatable-col-100">Posting Invoice Date</th>
                                        <th class="datatable-col-200">Invoice Number</th>
                                        <th class="datatable-col-100 text-center">File Doc BAPS</th>
                                        <th class="datatable-col-100 text-center">File Doc BAUK</th>
                                        <th class="datatable-col-100 text-center"></th>
                                        <th class="datatable-col-100 text-center"></th>
                                        <th class="datatable-col-100 text-center"></th>
                                        <th class="datatable-col-100 text-center"></th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th class="datatable-col-200">
                                            <div class="input-group input-group-sm">
                                                <input type="text" id="schSONumber" class="form-control" />
                                                <span class="input-group-btn">
                                                    <button class="btn blue btn-small btnSearchDetail" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </th>
                                        <th class="datatable-col-200">
                                            <div class="input-group input-group-sm">
                                                <input type="text" id="schSiteID" class="form-control" />
                                                <span class="input-group-btn">
                                                    <button class="btn blue btn-small btnSearchDetail" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </th>
                                        <th class="datatable-col-200">
                                            <div class="input-group input-group-sm">
                                                <input type="text" id="schSiteName" class="form-control" />
                                                <span class="input-group-btn">
                                                    <button class="btn blue btn-small btnSearchDetail" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </th>
                                        <th class="datatable-col-200">
                                            <div class="input-group input-group-sm">
                                                <input type="text" id="schSiteCustID" class="form-control" />
                                                <span class="input-group-btn">
                                                    <button class="btn blue btn-small btnSearchDetail" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </th>
                                        <th class="datatable-col-200">
                                            <div class="input-group input-group-sm">
                                                <input type="text" id="schSiteCustName" class="form-control" />
                                                <span class="input-group-btn">
                                                    <button class="btn blue btn-small btnSearchDetail" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <button type="button" id="btnBack" class="btn green" data-style="zoom-in">
                        <i class="fa fa-backward"></i> Back
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="mdlDocument" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Document</h4>
            </div>
            <div class="portlet-body form">
                <table class="table table-striped table-bordered table-hover datatable-custom-width" id="tblDocument">
                    <thead>
                        <tr>
                            <th class="datatable-col-25" style="vertical-align: middle; text-align:center">#Row</th>
                            <th class="datatable-col-100" style="vertical-align: middle; text-align:center">Download</th>
                            <th class="datatable-col-200" style="vertical-align: middle; text-align:center">Document Name</th>
                            @*<th></th>*@
                        </tr>
                    </thead>
                </table>
               
                <div class="form-actions text-center">

                    <button type="button" data-dismiss="modal" id="btnTrxCancel" class="btn blue-oleo">
                        <i class="fa fa-chevron-left"></i> Close
                    </button>
                </div>
                @*</form>*@
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="@Path" id="path" />
<script src="@Url.Content("~/scripts/DashboardRA/MonitoringBAPSDone.js")" type="text/javascript"></script>